<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tilføj Album</title>
    <link rel="stylesheet" href="/Style.css">
</head>
<body>
<div>
    <h1>Tilføj et nyt album</h1>
    <form action="/saveAlbum" method="post" th:object="${album}">
        <label>Titel: <input type="text" th:field="*{titel}" required></label><br>
        <label>Spilletid: <input type="time" th:field="*{spilletid}" required></label><br>
        <label>Udgivelsesår: <input type="number" th:field="*{udgivelsesaar}" required></label><br>
        <label>Pladeselskab: <input type="text" th:field="*{pladeselskab}" required></label><br>
        <label>Kunstner: <input type="text" th:field="*{kunstner}" required></label><br>
        <button type="submit">Tilføj Album</button>
    </form>
</div>
<br>
<div>
    <a href="/">Tilbage</a> <!-- href betyder den side vi skal sendes til, i dette tilfælde root-->

    <a href="https://open.spotify.com/">Gå til Spotify</a>
</div>
</body>
</html>
