<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Musik Database</title>
    <link rel="stylesheet" href="/Style.css">
</head>
<body>
<div>
<h1>Velkommen til min musik</h1>
<table>
    <tr>
        <th>Titel</th>
        <th>Spilletid</th>
        <th>Udgivelsesår</th>
        <th>Pladeselskab</th>
        <th>Kunstner</th>
    </tr>
    <tr th:each="album : ${albums}">
        <td th:text="${album.titel}"></td>
        <td th:text="${album.spilletid}"></td>
        <td th:text="${album.udgivelsesaar}"></td>
        <td th:text="${album.pladeselskab}"></td>
        <td th:text="${album.kunstner}"></td>
    </tr>
</table>
<br>
<a href="/addAlbum">Tilføj nyt album</a>
</div>
</body>
</html>
