<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Musik Database</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Musik Database</h1>
<table border="1">
    <tr>
        <th>Titel</th>
        <th>Spilletid</th>
        <th>Udgivelsesår</th>
        <th>Pladeselskab</th>
        <th>Kunstner</th>
    </tr>
    <tr th:each="album : ${albums}">
        <td th:text="${album.titel}"></td>
        <td th:text="${album.spilletid}"></td>
        <td th:text="${album.udgivelsesaar}"></td>
        <td th:text="${album.pladeselskab}"></td>
        <td th:text="${album.kunstner}"></td>
    </tr>
</table>
<br>
<a href="/addAlbum">Tilføj nyt album</a>
</body>
</html>
